# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# windsurf rules
.windsurfrules
.mindMap.txt


src/config/emailjs-template-example.html
src/docs/EMAILJS_SETUP.md
docs/EMAILJS_SETUP.md

# deployment scripts

deploy.bat
deploy.sh
git-deploy.bat
git-deploy.sh

# test build scripts
test-build.bat
test-build.sh

